* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    font-size: 30px;
    margin: 0px;
    padding: 0px;
    font-family:sans-serif;
    color: whitesmoke;
}
.confondo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    

    height: 100%;
    width: 100%;
    
    background: url("bosque-dia.jpg") no-repeat;
    
}
.abajo {
    display: flex;
    justify-content: space-around;
}
.citadebuendia { 
    font-size: 100%;
    margin-bottom: 0px;
    position: relative;
   
    bottom: 180px;
  left: 0px;
  margin-left:  0;
  
}
.citadebuendia span {
    margin-left: 35px;
  position: relative;
  bottom: 0px;
  left:  35px;
  margin-left:  0;

}
h1{
    color:white;
    position: absolute;
bottom:15%;
    text-align: left;
    font-size: 150px ; 
    margin-top:0;
}
.cita { 
    font-size: 20px;
    padding: 200px;
}
.cita p { 
    margin-bottom: 40px;
}
.partedeabajosinfondo {
    background: #ddd;
    padding: 100px;
    font-size: 30px;
    display: flex;
    justify-content: space-around;
}
.partedeabajosinfondo span {
    font-size: 16px;
}
.partedeabajosinfondo h2 {
    margin-bottom: 20px
}
.boton {
    position: absolute;
    top: 90%;
    right: 10%;
    font-size:20px;
    padding: 5px 25px 5px 10px;
    border-radius: 70px;
}
.conborde{
    border-right: 2px solid;
    border-color:grey;
}
.iconoboton{
    position: absolute;
    margin-top: 2px;
}
.reloj {
    margin: 100px -350px;
}