html, body {
    border-style: solid;
    border-color: red green blue yellow; /* red top, green right, blue bottom and yellow left */  
  font-size: 30px;
    margin: 0px;
    margin-left: 1px;
    margin-right: 0px;
    padding: 0px;
    font-family:'Times New Roman';
}
.confondo {
   
    height: 600px;width: 100%;
    
    background: url(bosque\ hd.jpg)no-repeat;
    background-size: cover;
    background-position-x: right : 5%;
    color:white;
}
.citadebuendia { 
    margin-top:5%;
    font-size: 100%;
    
}
h1{
    color:white;
    margin: 1;
    margin-bottom: 2%;
    text-align: left;

    font-size: 160px ; 
}
.cita { 
    font-size: 20px;
}
.hora { 
    font-size:  2170px;????? esto de que es??
    
}
.boton{
    margin-top: 5%;
    margin-left: 0%;
    margin-top: 101000%;
 }
.partedeabajosinfondo {
    font-size: 30px;
    display: flex;
    justify-content: space-around;
}
.boton{
    margin-left: 90%;
    margin-top: 0%;
 }
porque hay dos boton?
aprender a movertexto