* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    font-size: 30px;
    margin: 0px;
    padding: 0px;
    font-family:sans-serif;
}
.fondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;  
    overflow: hidden; 
    z-index: -1; 
}
.confondo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    z-index: 9999;

    height: 100%;
    width: 100%;
    
    color:white;
}
.abajo {
    display: flex;
    justify-content: space-around;
}
.citadebuendia { 
    font-size: 100%;
}
.citadebuendia span {
    margin-left: 35px;
}
h1{
    color:white;
    text-align: left;
    font-size: 160px ; 
}
.cita { 
    font-size: 20px;
    padding: 200px;
}
.cita p { 
    margin-bottom: 40px;
}
.partedeabajosinfondo {
    background: #ddd;
    padding: 100px;
    font-size: 30px;
    display: flex;
    justify-content: space-around;
}
.partedeabajosinfondo span {
    font-size: 16px;
}
.partedeabajosinfondo h2 {
    margin-bottom: 20px
}
.boton {
    position: absolute;
    top: 90%;
    right: 10%;
    font-size:20px;
    padding: 5px 25px 5px 10px;
    border-radius: 70px;
}
.conborde{
    border-right: 2px solid;
    border-color:grey;
}
.iconoboton{
    position: absolute;
    margin-top: 2px;
}
.reloj {
    margin: 100px -350px;
}